<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                         <p>Hey there, thanks for visiting my blog.</p>
                        <p>I am Diksha and I’m a web developer. </p>
                        <p>I am a recent graduate with Bachelor of Engineering degree in <em>Computer Science from Sir M. Visvesvaraya Technology, Bengaluru</em></p>
                        <p> Currently I work as an Application Development Associate at Accenture.</p>
                        <p>During my college years, I’ve worked on several projects and have quite a good hold on programming languages like C, Java and Python.</p>
                        <p>Apart from academics, I do have other hobbies which include reading books, sketching, listening and singing songs, binge-watching on weekends, and hanging out with friends. </p>
                   </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}