
{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
<center><p style="color:red;">{{ message }}</p></center>

        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

{% include 'footer.html' %}