<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                     {% for post in posts: %}
                        {% if post.id==id %}
                        <h2 class="section-heading">{{post.title}}</h2>
                        <h3 class="section-heading">{{post.subtitle}}</h3>
                        <p>{{post.body}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->

{% include 'footer.html' %}
